section{
	width: 1397px;
	height: 284px;
	background-color: #434a54;
}

img{
	margin: 39px 99px 209px 228px;
	float: left;
}

/*start ul 1*/
ul.first{
	list-style-type: none;
	float: left;
}
li.portfolio{
	color: #ffffff;
	font-size: 17px;
	margin: 30px 84px 9px 0px;
	font-weight: bold;
}

li.web{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}

li.branding{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 45px 9px 0px;
}

li.mobile{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 0px 9px 0px;
}
li.print{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 0px 9px 0px;
}

li.user{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 0px 9px 0px;
}
/*end ul 1*/


/*start ul 2*/
ul.second{
	list-style-type: none;
	float: left;
}

li.about{
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	margin: 30px 84px 9px 0px;
}

li.company{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}

li.history{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}

li.vision{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}
/*end of ul 2*/


/*start of ul 3*/
ul.third{
	list-style-type: none;
	float: left;
}

li.gallery{
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	margin: 30px 84px 9px 0px;
}
li.flickr{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;	
}
li.picasa{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;	
}
li.photo{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}
li.photodune{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}
/*end of ul 3*/

/*start of ul 4*/
ul.forth{
	list-style-type: none;
	float: left;
}
li.contact{
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	margin: 30px 84px 9px 0px;
}
li.basic{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}
li.map{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}
li.da{
	color: #abb2bc;
	font-size: 17px;
	margin: 0px 89px 9px 0px;
}
/*end of ul 4*/

