section.menu{
	width: 1300px;
	height: 70px;
	background-color: #e6e9ee;
}

img{
	margin: 5px 43px 0px 230px;
	float: left;
}

ul{
	list-style-type: none;
	color: #656d78;
	float: left;
	font-size: 15px;
	list-style-type: none;
	
}

li.portfolio{
	float: left;
	margin: 10px 43px 30px 43px; 

}

li.about{
	float: left;
	margin: 10px 43px 30px 0px;
	
}

li.gallery{
	float: left;
	margin: 10px 43px 30px 0px;
	
}

li.contact{
	float: left;
	margin: 10px 43px 30px 0px;
	
}

li.copy{
	color: #b1bac3;
	font-size: 13px;
	float: left;
	margin: 10px 43px 30px 0px;
}