body{
	background-color: #f1f2f6;
}

section.splash{
	background-color: #f1f2f6;
	width: 240px;
	height: 340px;
	border-radius: 5px;
}

img{
	margin: 20px 25px 20px 25px;
}

h3{
	margin: 0px 55px 0px 55px;
	font-size: 17px;
	font-weight: 2px;
	color: #434c55;
}

div.da{
	color: #656d7a;
	margin: 0px 59px 22px 59px;
	font-size: 14px;
}

div.eden{
	color: #c3c7d0;
	margin: 0px 35px 7px 35px;
}

div.dva{
	color: #c3c7d0;
	margin: 0px 27px 7px 27px;
}

div.tri{
	color: #c3c7d0;
	margin: 0px 40px 30px 40px;
}



