body{
	padding: 0;
	margin: 0;
	background-color: silver;
}
header{
	font-size: 150%;
}
main > div{
	
	min-height: 100px;
	margin: 3%;
	float: left;
}	
div.slika{
	margin-top: 50px;
}
div.search{
	margin-left: 20px;
	font-size: 150%;
	margin-top: 75px;
}
	
ul{
	list-style-type: none;
	margin: 0;
	padding: 10;
	overflow: hidden;
	margin-top: -120px;
	float: left;
	margin-left: 0px;
	margin-right: 50px;

}
li{
	float: left;
}
a:link,a:visited{
	display: block;
	width: 120px;
	font-weight: bold;
	background-color: silver;
	text-indent: 0px;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	clear: left;
	float: left;
	text-align: center;

}

img{
	margin: 11px;
	margin-bottom: 150px;
	border: 13px solid black;
	padding: 10px;
	max-width: 550px;
	max-height: 550px;
	left: 220px;
	right: 0px;
	clear: left;
	float: left;
	top: -150px;
	bottom: 111px;
}
div.relative {
    position: relative;
    width: 600px;
    height: 10px;
    border: 0px solid #8AC007;
} 

div.text2{
	position: relative;
    width: 600px;
    height: 20px;
    border: 0px solid #8AC007;
    text-align: right;
}
div.text3{
	position: relative;
	width: 600px;
	height: 30px;
	border: 0px solid #8AC007;
	text-align: right; 
}

